* {
    font-family: "Montserrat";
}

.literature {
    background-color: #0c255e66;
    display: inline-block;
    margin: 0;
    border-radius: 3px;
}

.characters {
    background-color: #11770166;
    display: inline-block;
    margin: 0;
}

.dates {
    background-color: #e6b40066;
    display: inline-block;
    margin: 0;
}

.locations {
    background-color: #f5821666;
    display: inline-block;
    margin: 0;
}

.other-notes {
    background-color: #e2619f66;
    display: inline-block;
    margin: 0;
}