* {
    font-family: "Montserrat";
}

.Literature {
    background-color: #0c255e66;
    margin: 0;
    padding: 0 5px;
    border-radius: 3px;
}

.Characters {
    background-color: #11770166;
    margin: 0;
    padding: 0 5px;
    border-radius: 3px;
}

.Dates {
    background-color: #e6b40066;
    margin: 0;
    padding: 0 5px;
    border-radius: 3px;
}

.Locations {
    background-color: #f5821666;
    margin: 0;
    padding: 0 5px;
    border-radius: 3px;
}

.Other-Notes {
    background-color: #e2619f66;
    margin: 0;
    padding: 0 5px;
    border-radius: 3px;
}